.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  background-color: #de1111;
  border-radius: 8px;
  box-shadow: 0 22px 24px rgba(0, 0, 0, 0.639);
}

.inputGroup {
  display: flex;
  margin-bottom: 1rem;
}

.inputLabel {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  background-color: #92c2f5;
  border: 1px solid #f2f0ef;
  border-right: none;
  border-radius: 4px 0 0 4px;
  min-width: 100px;
}

.input {
  flex: 1;
  padding: 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0 4px 4px 0;
  font-size: 1rem;
}

.input:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.submitButton {
  padding: 0.75rem 1.5rem;
  background-color: #1257c6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.submitButton:hover {
  background-color: #0cdc40;
}
